.main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 100%;
    background-color: #ece9e1;
  }


  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 100%;
    background-color: #ece9e1;
  }